.body {
  font-family: 'Montserrat', 'sans-serif';
  }

.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
  }

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', 'sans-serif';
  font-weight: bold;
}

.nav-item {
  font-size: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#title {
  background-color: #ff4c68;
  color: white;
  overflow: hidden;
}

#features {
  padding: 10% 20%;
}

#testimonials {
  background-color: #ff4c68;
  color: white;
  padding: 10% 20% 5% 20%;
  text-align: center;

}

#press {
  padding: 0% 20% 0% 20%;
  background-color: #ff4c68;
  color: white;
  text-align: center;
  }

#pricing {
  padding: 5% 20% 5% 20%;
  text-align: center;
}

#cta {
  padding: 0% 20% 0% 20%;
  background-color: #ff4c68;
  color: white;
  text-align: center;
  }

  #footer {
    padding: 1% 20% 0 20%;
    background-color: white;
    text-align: center;
    }

    #cta {
      padding: 3% 20% 0 20%;
    }

.download-button {
margin: 5% 3% 10% 3%;
}

.other-download-button {
margin: 5% 3% 5% 3%;
}

.iphone {
max-width: 70%;
transform: rotate(15deg);
}

.with-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icon-settings {
  color: #ff4c68;
  padding: 0;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-quote {
  padding-left: 20%;
  padding-right: 20%;
}

.press-logo {
  width: 90%;
  margin: 20px 20px 50px;
}

.sub-button {
  color: #ff4c68;
}

i:hover {
  color: #ff0d33;
}

h1 {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  }

h2 {
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  color: #8f8f8f;
  line-height: 1.5;
}
