/* ID Selectors */

#title {
  overflow: hidden;
  padding-bottom: 20%;
}

#features {
  padding: 10% 20%;
}

#testimonials {
  padding: 10% 20% 5%;
}

#pricing {
  padding: 5% 20% 5%;
}

#cta {
  padding: 10% 20% 10%;
  }

/* Sections */

.color-section {
  background-color: #ff4c68;
  color: white;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.title-heading {
  text-align: left;
}

.mid-heading {
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 2rem;
  line-height: 1.5;
}

/* Class Selectors */

.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
  }

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', 'sans-serif';
  font-weight: bold;
}

.nav-item {
  font-size: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.download-button {
margin: 1%;

}

.other-download-button {
margin: 5% 3% 0;
}

.iphone {
max-width: 70%;
transform: rotate(15deg);
position: absolute;
right: 10rem;
}

.with-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icon-settings {
  color: #ff4c68;
  padding-bottom: 2rem;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-quote {
  padding-left: 20%;
  padding-right: 20%;
}

.press-logo {
  width: 90%;
  margin: 2rem;
}

.sub-button-outline {
  color: #ff4c68;
  border-color: #ff4c68;
}

.sub-button-full {
  background-color: #ff4c68;
  border-color: #ff4c68;
}

.pricing-header {
  padding-bottom: 3rem;
}

.pricing-card {
  margin-bottom: 2rem;
}

.footer-p {
  padding-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

i:hover {
  color: #ff0d33;
}

body {
  font-family: 'Montserrat', 'sans-serif';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'sans-serif';
}

p {
  color: #8f8f8f;
  line-height: 1.5;
}

/* Media Selectors */

@media (max-width: 991px) {

  .iphone {
    margin-top: 10%;
    position: static;
    transform: none;
  }
  #title {
    text-align: center;
    padding-bottom: 5%;
  }
  .download-button-row {
    justify-content: center;
  }

}
